<div class="listings">
     <ul class="post-list">
       {% for post in site.posts %}
         {% assign currentdate = post.date | date: "%Y" %}
         {% if currentdate != date %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h1 class="ordinal" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
           <ul>
           {% assign date = currentdate %}
         {% endif %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">
              <h3>{{ post.date | date_to_long_string }} — {% assign words = post.content | number_of_words %}{% if words < 360 %}1 min read{% else %}{{ words | divided_by:180 }} min read{% endif %}
              </h3>
              <h2 class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h2>
              <p class="post-desc">{{ post.content | strip_html | truncatewords:30 }} <a class="link" href="{{ post.url | prepend: site.baseurl }}">continue reading →</a></p>
            </a>
            </li>
         {% if forloop.last %}</ul>{% endif %}
       {% endfor %}
     </ul>
</div>
