// Mixins
@mixin heading-context {
	font-weight: 600;
	font-size: rem(13);
	text-transform: uppercase;
	letter-spacing: rem(1);
	text-align: center;
}

@mixin chevron {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	@include position(relative, rem(10) null null rem(5));
	@include size(rem(8));
	@include transform(rotate(45deg));
	vertical-align: top;
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
