---
layout: default
---
<div class="post">
  <!-- <header class="post-header"> -->
    <div class="post-title">
      <h3>{{ page.date | date_to_long_string }} •
        {% assign words = page.content | number_of_words %}
        {% if words < 360 %}
          1 min read
        {% else %}
          {{ words | divided_by:180 }} min read
        {% endif %}
      </h3>
      <h1>{{ page.title }}</h1>
      <p class="post-description">{{ page.description }}</p>
      </div>
  <!-- </header> -->
  <article class="post-content">
    {{ content }}
  </article>
</div>
