---
layout: default
refID: secondary
---
<section class="black start">
<div class="widest">
  <div class="project-header">
  <div class="page-intro fade-in-bottom">
    <h1>{{ page.description }}</h1>
    <h3>{{ page.company }}</h3>
    <p>{{ page.role }}, {{ page.timeline }}</p>
  </div>
  <div class="image-intro">
    <img src="{{ site.baseUrl }}{{ page.image }}" alt="{% if include.title %}{{ include.title }}{% else if include.description != "" and include.description != null %}{{ include.description }}{% else %}An image related to this article{% endif %}"/>
  </div>
</div>
  </div>
</section>

<div class="post">
  <article class="post-content fade-in-up-3">
    <!-- <p class="intro">{{ page.intro }}</p> -->
    {{ content }}
  </article>
</div>

<section class="wide">
   <h2 class="cexplainer">If you enjoyed reading this project, you might enjoy these. The rest are over in my <a href="/work">work section.</a></h2>
   <div class="projects">
    {% for project in site.projects limit: 4 %}
    {% if page.title != project.title %}
    <a class="card {{ project.refID }}" href="{{ project.url }}">
      <div class="context">
        <h3>{{ project.company }}</h3>
        <p>{{ project.role }}, {{ project.timeline }}</p>
        <p class="description">{{ project.description }}</p>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>
 </section>
