{% if include.type == "wide" %}
<figure class="wide-image">
  {% elsif include.type == "screen" %}
  <figure class="full-width-image">
  {% elsif include.type == "hero" %}
  <figure class="full-width-hero">
{% else %}
<figure class="image">
{% endif %}
  {% if include.style == "multiply" %}
  <img class="multiply" src="{{ site.baseUrl }}{{ include.url }}" alt="{% if include.title %}{{ include.title }}{% else if include.description != "" and include.description != null %}{{ include.description }}{% else %}An image related to this article{% endif %}"/>
  {% if include.description %}<figcaption>{{ include.description }}</figcaption>{% endif %}
</figure>
{% else %}
<img class="border" src="{{ site.baseUrl }}{{ include.url }}" alt="{% if include.title %}{{ include.title }}{% else if include.description != "" and include.description != null %}{{ include.description }}{% else %}An image related to this article{% endif %}"/>
{% if include.description %}<figcaption>{{ include.description }}</figcaption>{% endif %}
</figure>
{% endif %}
